@page "/search"
@rendermode InteractiveServer
@using MudBlazor

<PageTitle>Search</PageTitle>

<h1>Search Property</h1>

<h2>For testing search functionality - search by description of property</h2>
<h3>Description - A Bunglow</h3>
<h3>Description - A Sea facing Bunglow</h3>
<h3>Description - A Bunglow with Garage</h3>
    
       
<MudGrid>
        <MudItem xs="12" sm="2" md="2">
            <h3>Search Description</h3>
        </MudItem>
        <MudItem xs="12" sm="4" md="4">
            <MudTextField T="string" @bind-Value="searchStr" Variant="Variant.Outlined"></MudTextField>
        </MudItem>

        <MudItem xs="12" sm="6" md="6">
            <MudButton Variant="Variant.Filled"  ButtonType="ButtonType.Submit" Color="Color.Primary" 
              OnClick="SearchProperty">Click Me</MudButton>
            @* <button class="btn btn-primary" @onclick="SearchProperty">Click me</button> *@
        </MudItem>    
</MudGrid> 


<MudGrid Spacing="1">
     
    @if (filteredProperties == null)
    {    
        <p><em>Loading properties...</em></p>
    }
    else
    {  
    
        foreach (var property in filteredProperties)
        {
            <MudItem xs="12" sm="4" md="4">
                <MudCard>
                    <MudCardContent>
                        <MudText>
                            @property.Description
                        </MudText>
                        <MudImage Src="@($"images/{property.ProductImage}")" Width="300" Height="300" Class="object-contain align-center">
                        </MudImage>
                        <MudText>
                            @property.Price
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }        
    }

    
</MudGrid>


